@charset "utf-8";
/* Formatting for center, header, footer */

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: linear-gradient(to right, white, powderblue);
	background-color: #4E5869;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {	
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom:0;
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
	float:left;
}

a:link {
	color:#414958;
	text-decoration: underline;
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
		text-decoration: none;
}

.container {
	width: 80%;
	overflow:hidden;
	box-shadow:10px 10px 10px #BEBEBE;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto; 
	border:1px solid blue;
}

.header .subheader{
		float:left;
		display:block;
		width:89%;
		height:90px;
	
}

.header {
	background-color: #FFF;
}

.content {
	padding: 10px 0;
	
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;
	}

.footer {
	padding: 10px 0;
	width:100%;
	background-color: #376A95;
	display:block;
	float:left;
	font-size:12px;
	color:white;
	
}
.footer p{
	
	display:inline;
}

.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


