
@keyframes slider{
	0%{
		left:0;
	}
	20%{
		left:0;
	}
	35%{
		
		left:-100%;
	}
	45%
	{
		left:-100%;
	}
	50%{
		left:-100%;
	}
	60%{
		
		left:-100%;
	}
	75%{
		left:-200%;
	}
	95%{
		left:-200%;
	}
	
	100%{
		left:-200%;
	}

}

#slider{
	overflow:hidden;
	border:1px solid black;
	width:720px;
	height:229px;
	margin-left:auto;
	margin-right:auto;
	border-radius:10px;
	box-shadow:10px 10px 10px #BEBEBE;
	
}
#slider figure img{
	float:left;
	
	
}

#slider figure{
	position:relative;
	margin:0;
	left:0;
	width:300%;
	animation:15s slider infinite;
		
}

